<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Block\Adminhtml\Edit\Tab\Cart" type="RedChamps\CustomerCartTabFix\Rewrite\Customer\Block\Adminhtml\Edit\Tab\Cart"/>
    <type name="Magento\Sales\Block\Adminhtml\ShoppingCartsTab">
        <plugin sortOrder="1" name="redChampsCustomerCartTabFixShoppingCartsTab"
                type="RedChamps\CustomerCartTabFix\Plugin\Block\SalesShoppingCartsTab"/>
    </type>
</config>
